<div class="splash">
  <div class="top p-2">
    <h2 class='text-primary text-center h1 text-light'>Welcome to Dollar-Guard Budget App</h2>
  </div>
  <div class="logo"><%= image_tag "budget1.png" %></div>
  <div class='d-flex splash-footer p-3 justify-content-between gap-2'>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn border border-light p-2 text-light col-6' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn border border-light text-light col-6 p-2' %>
  </div>
</div>
